#%Module

proc ModulesHelp { } {
	puts stderr "{{ .Description }}"
}

module-whatis "Name: {{ .EnvironmentName }}"
{{- if ne .EnvironmentVersion "" }}
module-whatis "Version: {{ .EnvironmentVersion }}"
{{- end }}
module-whatis "Packages: {{ range $index, $package := .Packages }}{{ if ne $index 0 }}, {{ end }}{{ $package.Name }}{{ if ne $package.Version "" }}@{{ $package.Version }}{{ end }}{{ end }}"

{{ range .Dependencies -}}
module load {{ . }}
{{ end -}}
{{ range .Packages }}{{ if ne .Exe "" }}
set-alias {{ .Exe }} singularity run {{ .Exe }}
{{ end }}{{ end }}