{"cmd": "echo doing build in {{ . }}; sudo singularity build --force singularity.sif singularity.def", "retries": 0, "rep_grp": "singularity_build-{{ . }}", "limit_grps": ["s3cache"], "mounts_json": [{"Targets": [{"Path":"{{ . }}","Write":true,"Cache":true}]}]