{"cmd": "echo doing build with hash {{ .Hash }}; if sudo singularity build --bind $TMPDIR:/tmp $TMPDIR/singularity.sif singularity.def &> $TMPDIR/builder.out; then sudo singularity run $TMPDIR/singularity.sif cat /opt/spack-environment/executables > $TMPDIR/executables && sudo singularity run $TMPDIR/singularity.sif cat /opt/spack-environment/spack.lock > $TMPDIR/spack.lock && mv $TMPDIR/singularity.sif $TMPDIR/builder.out $TMPDIR/executables $TMPDIR/spack.lock .; else mv $TMPDIR/builder.out .; mkdir logs; sudo find $TMPDIR/root/spack-stage/ -maxdepth 2 -iname \"*.txt\" -exec cp {} logs/ \\; ; false; fi", "retries": 0, "rep_grp": "singularity_build-{{ .S3Path }}", "limit_grps": ["s3cache"], "mounts": [{"Targets": [{"Path":"{{ .S3Path }}","Write":true,"Cache":true}]}]}