{"cmd": "echo doing build in {{ . }}; sudo singularity build $TMPDIR/singularity.sif singularity.def &> builder.out && sudo singularity run $TMPDIR/singularity.sif cat /opt/spack-environment/executables > executables && sudo singularity run $TMPDIR/singularity.sif cat /opt/spack-environment/spack.lock > spack.lock && mv $TMPDIR/singularity.sif .", "retries": 0, "rep_grp": "singularity_build-{{ . }}", "limit_grps": ["s3cache"], "mounts": [{"Targets": [{"Path":"{{ . }}","Write":true,"Cache":true}]}]}